table{
	position:absolute;
	top:30%;
	left:15%;
	width:70%;
	border-size:0.5pt;
	border-color: white;
	text-align: center;
	}
th{
	background-color:DarkTurquoise;
}
#tr01{
	background-color:LightBlue;
}
#tr02{
	background-color:PaleTurquoise; 
}
#inputsub{
	position: absolute;
	top:80%;
	left:45%;
}
button{
	width:17pt;
	background-color: SteelBlue;
    color:white ;
	border-radius: 80%;
}
button:hover{
	background-color: slategrey;
}
#buttondim{
	position: absolute;
	top:37%;
	left:13%;
} 
#buttonadd{
	position: absolute;
	top:42%;
	left:13%;
}
/*round-button{
	background-color:#606060;
}
round-button:hover{
	background-color:#464646;
}*/
