table{
	position:absolute;
	top:30%;
	left:15%;
	width:70%;
	border-size:0.5pt;
	border-color: white;
	text-align: center;
	}
th{
	background-color:DarkTurquoise;
}
#div_class{
	position:absolute;
	top:20%;
	left:10%;
}
#td_dl{
	width:70pt;
}
#tr_odd{
	background-color:LightBlue;
}
#tr_even{
	background-color:PaleTurquoise; 
}
#buttonsub{
	position: absolute;
	top:80%;
	left:45%;
	width:34pt;
	border-radius: 0;
}
button{
	width:17pt;
	background-color: SteelBlue;
    color:white ;
	border-radius: 80%;
}
button:hover{
	background-color: slategrey;
}
#button_dim{
	position: absolute;
	top:37%;
	left:12%;
} 
#button_add{
	position: absolute;
	top:42%;
	left:12%;
}
#button_df{
	width:54pt;
	border-radius:0;
}
#button_save{
	position: absolute;
	top:80%;
	left:40%;
	width:34pt;
	border-radius: 0;
}
#button_daf{
	position: absolute;
	top:80%;
	left:55%;
	width:90pt;
	border-radius: 0;
}
/*round-button{
	background-color:#606060;
}
round-button:hover{
	background-color:#464646;
}*/
