div{
	position: absolute;
	float: left;
	top:30%;
	left:5%;
	width:90%;
	height:300pt; 
}
#table_01{
	position:relative;
	top:10pt;
	left:40%;
	width:10%;
	border-size:0.5pt;
	text-align: center;
	}
#table_02{
	position: relative;
	top: 50pt;
	left: 10%;/*少分號
	*/
	width:75%;
	border-size:0.5pt;
	text-align: center;
}
th{
	background-color:DarkTurquoise;
}
#div_class{
	position:absolute;
	top:20%;
	left:10%;
}
.putbutton{
	background-color: transparent;
	width: 15pt;
}
.td_dl{
	width:70pt;
}
.tr_odd{
	background-color:LightBlue;
}
.tr_even{
	background-color:PaleTurquoise; 
}
#buttonsubmit{
	position: relative;
	top:300pt;
	left:45%;
	width:34pt;
	border-radius: 0;
}
#button_add{
	
}	
#button_sub {
	/*visibility: hidden;*/
}
#button_sub :hover{
	visibility: visible;
}
button{
	width:17pt;
	background-color: SteelBlue;
    color:white ;
	border-radius: 80%;
}
button:hover{
	background-color: slategrey;
}