div{
	position: absolute;
	left: 7%;
	top:30%;
	width:90%;
	height:400pt; 
}
#table{
	position:relative;
	top:10pt;
	left:10%;
	width:80%;
	border-size:0.5pt;
	text-align: center;
	}
th{
	background-color:DarkTurquoise;
}
#div_class{
	position:absolute;
	top:20%;
	left:10%;
}
.putbutton{
	background-color: transparent;
	width: 15pt;
}
.td_dl{
	width:70pt;
}
.tr_odd{
	background-color:LightBlue;
}
.tr_even{
	background-color:PaleTurquoise; 
}
#buttonsubmit{
	position: relative;
	top:350pt;
	left:45%;
	width:34pt;
	border-radius: 0;
}
#button_add{
	
}	
#button_sub {
	/*visibility: hidden;*/
}
#button_sub :hover{
	visibility: visible;
}
button{
	width:17pt;
	background-color: SteelBlue;
    color:white ;
	border-radius: 80%;
}
button:hover{
	background-color: slategrey;
}
/*#button_sub{
	position: absolute;
	top:37%;
	left:12%;
} 
#button_add{
	position: absolute;
	top:42%;
	left:12%;
}*/
#button_df{
	width:54pt;
	border-radius:0;
}
#button_save{
	position: absolute;
	top:80%;
	left:40%;
	width:34pt;
	border-radius: 0;
}
#button_daf{
	position: absolute;
	top:80%;
	left:55%;
	width:90pt;
	border-radius: 0;
}
/*round-button{
	background-color:#606060;
}
round-button:hover{
	background-color:#464646;
}*/

